


h1{
    margin: 5%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3em;
}
i{
    display: block;
    position: relative;
    text-align: center;

}
.imagem {
    background: url("../images/skull.svg")top center no-repeat ;
    background-size: contain;
    position: relative;
    width: 35%;
    height: 35%;
   // background: black;
    margin: auto;
    top: 6%;
}
#modal-final{
    visibility: hidden;
    background:#94a1b2;
    color:#fffffe ;
    position: fixed;
    z-index: 100;
    margin: auto auto;
    padding: 10px;
    top: 20%;
    left: 35%;



    width: 30vw;
    min-width: 28vw;
    height: 60vh;
    //border: 6px black solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;



}
@keyframes aparecer {
  from{
      opacity: 0;
  }
    to{
        opacity: 100;
    }
}

.botoes-alerta{
    display: flex;

    position: relative;
    margin:0 auto;
    width: 90%;
    height: 20%;
   // background: red;
    //align-items:;


}
.b-alerta{

    width: 200px;
    margin: 0 auto;
    height: 80px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
}

#novamente {
    border:0;

}
#home{
    background: #ff8906;
    border: 0;
}