


h1{
    margin: 10%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3em;
}
i{
    display: block;
    position: relative;
    text-align: center;
}
.imagem-perdeu {
    background: url("../images/skull.svg")top center no-repeat ;
    background-size: contain;
    position: relative;
    width: 35%;
    height: 35%;
   // background: black;
    margin: auto;
    top: 1%;
}

#modal-final{
    visibility: hidden;
    background:#94a1b2;

    position: fixed;
    z-index: 100;
    margin: auto auto;
    padding: 10px;
    top: 20%;
    left: 35%;


    color: #dddddd;
    width: 30vw;
    min-width: 28vw;
    height: 60vh;
    //border: 6px black solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;



}
.imagem-venceu {
    background: url("../images/winModal.svg")top center no-repeat ;
    background-size: contain;
    position: relative;
    width:80%;
    height: 80%;
    // background: black;
    margin: auto;
    //top: 3%;
}
#modal-final-vitoria{
    visibility: hidden;
    background:#1e824c ;
    //color:#fffffe ;
    position: fixed;
    z-index: 100;
    margin: auto auto;
    padding: 10px;
    top: 15%;
    left: 35%;



    width: 30vw;
    min-width: 28vw;
    height: 70vh;
    //border: 6px black solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    color: #dddddd;


}
@keyframes aparecer {
  from{
      opacity: 0;
  }
    to{
        opacity: 100;
    }
}

.botoes-alerta{
    display: flex;
    //border-radius: 25px;
    position: relative;
    margin:0 auto;
    width: 90%;
    height: 20%;
   //background: red;
    //align-items:;


}
.b-alerta{

    width: 200px;
    margin: 0 auto;
    height: 80px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: #333333;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold ;
}
.b-alerta:hover{
    color: black;
    font-size: 125%;
    transition: 0.3s;
}
#novamente {
    border:0;

}
#home{
    background: #ff8906;
    border: 0;
}
#novamente2 {
    border:0;

}
