.forca-div{

    position: relative;
    width: 70%;
    height: 400px;
    background: url("../images/forca.svg") left no-repeat #636E72;
    background-size: contain;
    //background-position: right 10px  ;
    margin: 20px auto;
    border-radius: 20px;
    animation: forca-div forwards 0.5s;
    border: 20px solid #636E72;


}
a{
    color: black;
    text-decoration: none;
}
@keyframes forca-div {

    from{
        transform: translateY(-10px);


    }
    to{
        transform:translateX(0px);
    }
}

.palavras-jogo{
    position: relative;
    width: 60%;
    height: 85%;
    //background: black;
    left: 30%;
    top: 7%;


}
.centralizar{
    position: relative;
    width: 100px;
    height: 100px;
    background: yellow;

}
.letras-entrada{
    position: relative;
    top: 40%;
    display: inline-block;

    width: 25px;
    text-align: center;
    border-bottom: 3px solid  #fffffe;
    padding: 3px;
    margin: 2px 6px;
    color: #fffffe;
    animation: entrada 2s forwards;
}

@keyframes entrada {

    to{
        opacity: 100;
    }

    from{
        opacity: 0;
    }

}



#palavra-sorteada{
    left: 70px;
    position: relative;
    width: fit-content;
    height: 150px;
//background:red;
    margin: 35px auto;
    top: 25%;
    font-size: 3em;
    font-family: 'Dosis', sans-serif;



}
#categoria-palavra{

    position: relative;
    width: 80%;
    height: 80px;
    left: 60px;
    margin: 10px auto;
    padding-top: 1%;
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    text-align: center;
    top: 50px;
    color: #fffffe;


}

.teclado{
    width: 75%;
    height: 250px;
    margin: 20px auto;
    right: 200px;
    display:block;
    justify-content: center;
    padding-left: 65px;

}
.alfabeto{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 60px;

    margin: 10px 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 10px ;

}
.botao-letra{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    background:#ff8906;
    border-width: 0;
    color:#fffffe;
    border-radius: 10px;
}
.botao-letra:hover{
    transition: 0.3s;
    transform: scale(1.1);
    border-bottom: 10px;
    border-color: red;
}

/*.botao-letra:visited{

    animation:duvida 2s forwards;
    /*transform: scale(20%);
}
*/
@keyframes botao-clicado {

    from {

    }
    to {
        transform: scale(-2.5);
        background: #22272c;
    }

}

.certo{
    background:#21BF73;
    color: white;
    animation: certoAnime 0.5s forwards;
}
@keyframes certoAnime {



    from{
        transform: translateY(-10px);
    }

}

.errado{
    background:#E83A14;
    color: black;
    animation: shake 0.3s forwards;
}
@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, -2px, -2px);
    }

    20%, 80% {
        transform: translate3d(9px, 2px, -2px);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, -4px, -4px);
    }

    40%, 60% {
        transform: translate3d(0, 0, 0);
    }
}
.clicado {
    /*background: #22272c;*/
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    border-width: 0;

    border-radius: 10px;
}
.acabou{

    background:#72757e ;


}
.acabou:hover{
    transform: scale(1);
}
@keyframes venceu {
    to{
        background:url("../images/win.svg")  left no-repeat  #2cb67d ;
        background-size: contain;
        animation: 2s;
        border-color: #2cb67d;

    }
}
@keyframes perdeu {
    to{
        background:url("../images/perdeu.svg")  left no-repeat #2e0000 ;
        background-size: contain;
        animation: 2s;
        border-color:#2e0000;

    }
}



h1{
    margin: 10%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 3em;
}
i{
    display: block;
    position: relative;
    text-align: center;
}
.imagem-perdeu {
    background: url("../images/skull.svg")top center no-repeat ;
    background-size: contain;
    position: relative;
    width: 35%;
    height: 35%;
// background: black;
    margin: auto;
    top: 1%;
}

#modal-final{
    visibility: hidden;
    background:#94a1b2;

    position: fixed;
    z-index: 100;
    margin: auto auto;
    padding: 10px;
    top: 20%;
    left: 35%;


    color: #dddddd;
    width: 30vw;
    min-width: 28vw;
    height: 60vh;
//border: 6px black solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;



}
.imagem-venceu {
    background: url("../images/winModal.svg")top center no-repeat ;
    background-size: contain;
    position: relative;
    width:80%;
    height: 80%;
// background: black;
    margin: auto;
//top: 3%;
}
#modal-final-vitoria{
    visibility: hidden;
    background:#1e824c ;
//color:#fffffe ;
    position: fixed;
    z-index: 100;
    margin: auto auto;
    padding: 10px;
    top: 15%;
    left: 35%;



    width: 30vw;

    height: 70vh;
//border: 6px black solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    color: #dddddd;


}
@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.botoes-alerta{
    display: flex;
//border-radius: 25px;
    position: relative;
    margin:0 auto;
    width: 90%;
    height: 20%;
//background: red;
//align-items:;


}
.b-alerta{

    width: 200px;
    margin: 0 auto;
    height: 80px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: #333333;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold ;
}
.b-alerta:hover{
    color: black;
    font-size: 125%;
    transition: 0.3s;
}
#novamente {
    border:0;

}
#home{
    background: #ff8906;
    border: 0;
}
#novamente2 {
    border:0;

}

@media screen and (max-width: 767px ) {



    .forca-div{


        height: 650px;
        background: url("../images/forca.svg") top no-repeat #636E72;
        background-size: contain;



    }

    .palavras-jogo{
        position: relative;


        margin: 0 0;
        width: 100%;
        height: 20%;


        top: 78%;
    //background: #1e824c;
        left: 0;

    }
    .letras-entrada{
        position: relative;
        top: 10%;
        display: inline-block;

        width: 10px;
        text-align: center;
        border-bottom: 3px solid  #fffffe;
        padding: 3px;
        margin: 2px 6px;
        color: #fffffe;
        animation: entrada 2s forwards;
    }

    #palavra-sorteada{
    //: 100%;
        position: relative;
        left: 0;
        justify-content: center;
        width: fit-content;
        height: 35px;
    // background:red;
        margin: 0 auto;
        top: 5%;
        font-size: 1em;
        font-family: 'Dosis', sans-serif;



    }
    #categoria-palavra{

        position: relative;

        top: 10%;
        width: 100%;
        height: 30%;
        left: 0;

        padding-top: 1%;
        font-family: 'Dosis', sans-serif;
        font-size: 2.5em;
        text-align: center;

        color: #fffffe;


    }

    #modal-final{
        visibility: hidden;
        width: 80%;
        height: 45vh;
        left: 0;
        position: absolute;
        background:#94a1b2;



        margin: auto 10%;
        padding: 10px;
        top: 15%;



        color: #dddddd;

        min-width: 28vw;

    //border: 6px black solid;
        border-radius: 25px;




    }



    #modal-final-vitoria {

        visibility: hidden;
        width: 80%;
        height: 45vh;
        left: 0;
        position: absolute;
        background: #1e824c;


        margin: auto 10%;
        padding: 10px;
        top: 15%;


        color: #dddddd;

        min-width: 28vw;


        border-radius: 25px;


    }

}





@media screen and (min-width: 768px) and (max-width: 1023px) {



    .forca-div{


        height: 800px;
        background: url("../images/forca.svg") top no-repeat #636E72;

        background-size: contain;



    }

    .palavras-jogo{
        position: relative;


        margin: 0 0;
        width: 100%;
        height: max-content;


        top: 78%;

        left: 0;

    }
    .letras-entrada{
        position: relative;
        top: 10%;
        display: inline-block;

        width: 10px;
        text-align: center;
        border-bottom: 3px solid  #fffffe;
        padding: 3px;
        margin: 2px 6px;
        color: #fffffe;
        animation: entrada 2s forwards;
    }

    #palavra-sorteada{
    //: 100%;
        position: relative;
        left: 0;
        justify-content: center;
        width: fit-content;
        height: 35px;
    // background:red;
        margin: 0 auto;
        top: 5%;
        font-size: 1em;
        font-family: 'Dosis', sans-serif;



    }
    #categoria-palavra{

        position: relative;

        top: 10%;
        width: 100%;
        height: 30%;
        left: 0;

        padding-top: 1%;
        font-family: 'Dosis', sans-serif;
        font-size: 2.5em;
        text-align: center;

        color: #fffffe;


    }

    #modal-final{
        visibility: hidden;
        width: 80%;
        height: 45vh;
        left: 0;
        position: absolute;
        background:#94a1b2;



        margin: auto 10%;
        padding: 10px;
        top: 15%;



        color: #dddddd;

        min-width: 28vw;

    //border: 6px black solid;
        border-radius: 25px;




    }



    #modal-final-vitoria{

        visibility: hidden;
        width: 80%;
        height: 45vh;
        left: 0;
        position: absolute;
        background:#1e824c;



        margin: auto 10%;
        padding: 10px;
        top: 15%;



        color: #dddddd;

        min-width: 28vw;


        border-radius: 25px;




    }

}