body{
    background:#636E72 top  no-repeat;
    background-size:cover;


}
.body2{


    background-size:cover;

    animation: af 0.5s forwards;
}
@keyframes af {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
        background:url('../images/2223.png') top no-repeat;
        animation: 2s;
    }
}


#body-forca{

    background:url('../images/2223.jpg') center no-repeat;

}
@keyframes body2 {


}




header{
    height: 200px;
}
a{
    text-decoration: none;
    cursor: crosshair;
    color: #dddddd;
}
a:visited{
    text-decoration: none;
}
.div-logo{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 200px;
    height: 80px;
    background: url("../images/alura-logo.svg") no-repeat;
    background-size: contain  ;

}
.botoes{
    display: flex;

    position: relative;

    width: 50%;
    height: 500px;
    top: 50%;
    margin: 5% auto;
    overflow-block: auto;
    animation: botao-animado 1s;
}
.botao{
    position: relative;
    margin:auto auto;


    width: 250px;
    height: 60px;
    background:#ff8906;
    border-radius: 10px;
    padding: 20px;
    display: block;
    text-align: center;




}

.botao:hover{

    border-image-outset: initial ;


}
#jogar:hover{
    animation: forca 0.5s forwards;
}
#adcionar:hover {
    animation: adcionar 0.5s forwards;
}
@keyframes forca {
    from{

    }
    to{

        background: url("../images/gallow.png") no-repeat left #f25f4c;
        transform: translate(10px);

        border-radius: 20px;
        cursor: crosshair;
    }
}
@keyframes adcionar {
    from{

    }
    to{

        background:  no-repeat left #f25f4c;
        transform: translate(10px);

        border-radius: 20px;
        cursor: crosshair;
    }
}
.botao h1{
    position: relative;
    display: block;
    text-align:center;
    font-size: 2vw;
    letter-spacing: 3px;
    margin: 0 0;
    top: 10px;
    color: #fffffe;
    font-family: 'Anton', sans-serif;
}

@keyframes botao-animado {

    from{
    transform: translateX(-50px);
    }
    to{
        transform:translateX(0px);
    }
    
}
#entradas{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 80%;

}
#modal-adcionar{

    display: inline-block;
    text-align: left;
    vertical-align: middle;

    visibility: hidden;
    background: #a7a9be;
    //visibility: hidden;
    position: absolute;
    z-index: 100;
    margin: auto auto;

    top: 30%;
    left: 35%;



    width: 30%;
    min-width: 28vw;
    height:450px;

    border-radius: 25px;


    justify-content: right;

    color: #dddddd;
    padding: 30px 20px;

}

#modal-adcionar input{
    width: 100%;
    display: flex;




    margin-bottom: 5px;
    height: 50px;
    border-radius: 5px;
    border: 0 solid;
    font-size: 33px;
    padding: 10px 10px;

}


#modal-adcionar h3{
    color: #2e2f3e;
    padding: 20px 5px;
    font-size: 1.3vw ;
    font-family: 'Exo', sans-serif;
}


#modal-adcionar h3:first-child{
   // padding-top: 250px;
}

#modal-adcionar button{
    position: relative;
    display: block;
    margin: 45px auto;
    width: 60%;
    height: 100px;
    border-radius: 20px;
    border: 0 solid;
    background: #ff8906;
}

#home2:hover{
    animation: adc 0.5s forwards;
}
@keyframes adc {
    to{
        //transform-style: flat;
        box-shadow:  0 0 1em gray;
        cursor: pointer;

    }
}
@media screen and (max-width: 767px ) {

    .botoes{
        flex-direction: column;
        left: 0;
        align-content: center;
        width: fit-content ;

    }
    .botao{
        position: relative;
        margin: 20px auto;


        width: 250px;
        height: 60px;
        background:#ff8906;
        border-radius: 10px;
        padding: 20px;
        display: block;
        text-align: center;




    }
    .botao h1{
        position: relative;
        display: block;
        text-align:center;
        font-size: 12vw;
        letter-spacing: 3px;
        margin: 0 0;
        top: 10px;
        color: #fffffe;
        font-family: 'Anton', sans-serif;
    }






}
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .botoes{
        flex-direction: column;
        left: 0;
        align-content: center;
        width: fit-content ;

    }

    .botao{
        position: relative;
        margin: 20px auto;


        width: 150px;
        height: 60px;
        background:#ff8906;
        border-radius: 10px;
        padding: 20px;
        display: block;
        text-align: center;




    }
    .botao h1{
        position: relative;
        display: block;
        text-align:center;
        font-size: 5vw;
        letter-spacing: 3px;
        margin: 0 0;
        top: 10px;
        color: #fffffe;
        font-family: 'Anton', sans-serif;
    }






}
